body {
  background-color: #61dafbcc;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-layout {
  min-width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-form {
  background-color: #61dafb;
  padding: 15px;
  width: 450px;
  border-radius: 10px;
  .align-center {
    text-align: center;
    button {
      text-align: center;
    }
  }
  .register-link {
    width: 100%;
    text-align: center;
  }
  .ant-form-item-label {
    text-align: start;
  }
}
::-webkit-scrollbar {
  display: none;
}

#root {
  #chatUserList {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    #chatUser {
      border: 1px solid grey;
      padding: 5px;
      border-radius: 5px;
      border-right: 0px;
      user-select: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      &:hover {
        background-color: rgb(116, 181, 185);
      }
    }
    .chatUserSelected {
      background-color: rgb(116, 181, 185);
    }
  }
}
